django==4.0.3
django-autocomplete-light==3.9.4
django-debug-toolbar==3.5.0
django-cleanup==6.0.0
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6
django-multiselectfield==0.1.12
geocoder==1.38.1
django-braces==1.15.0