{% extends 'paginas/template.html' %}

{% load static %}

{% block title %}
Buscar Imóveis
{% endblock %}

{% block content %}
<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Resultados</h4>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        {% for imovel in object_list %}

        {% if imovel.0.destacado %}
            <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition boostBorder">  
        {% else %}
            <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition">  
        {% endif %}
            {% if imovel.0.destacado %}
                <i class="fa-solid fa-star p-3 cardIcon position-absolute" 
                style="right: 0;"></i>
            {% endif %}
            <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}} />
            <div class="p-3">
                <h4>{{imovel.0.titulo}}</h4>
                <p>{{imovel.0.preco}}</p>
                <p>{{imovel.0.cidade}}</p>
                <div class="d-flex">
                    {% for f in imovel.0.finalidade_as_list %}
                    {% if f == "Vender" %}
                    <p class="mx-2 px-3 py-1 rounded-xl bgMainColor text-white">{{f}}</p>
                    {% else %}
                    <p class="mx-2 px-3 py-1 rounded-xl bgSecondColor text-white">{{f}}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'imovel-view' pk=imovel.0.pk %}" class="stretched-link"></a>
        </div>

        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
        <ul class="pagination" style="justify-content: center;">
            {% if page_obj.has_previous %}
                <a class="page-link rounded-xl" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Anterior</a>
            {% else %}
                <a class="page-link disabled rounded-xl" tabindex="-1">Anterior</a>
            {% endif %}

            <li class="page-item">
                <a class="btn bgMainColor text-white" href="#">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <a class="page-link rounded-xl" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Proxima</a>
            {% else %}
                <a class="page-link disabled rounded-xl" tabindex="-1">Proxima</a>
            {% endif %}
        </ul>
    

</div>


{% endblock content %}