{% extends 'paginas/template.html' %}

{% load static %}

{% block title %}
Meus Imóveis
{% endblock %}

{% block content %}
<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Meus Imóveis</h4>
        </div>
        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardTitleButton" href="{% url 'criar-imovel' %}">
            <i class="fa-solid fa-plus"></i>
            &ensp;
            <h4>Adicionar</h4>
        </a>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3" id="deleteModalLabel">Contato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Esta ação irá marcar o imóvel como negociado e desativá-lo permanentemente. Tem certeza que deseja continuar?</h4>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn bgDangerColor text-white hoverTransition fs-5"
                        id="deleteImovelButton">SIM</a>

                    <a type="button" class="btn bgMainColor text-white hoverTransition fs-5"
                        data-bs-dismiss="modal">NÃO</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center p-3">
        {% for imovel in object_list %}
            {% if imovel.0.publicado %}
            
                {% if imovel.0.destacado %}
                <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition boostBorder">  
                {% else %}
                <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition">  
                {% endif %}
                    <div class="position-absolute d-flex" style="left: 0;">
                        <a id="deleteModalButton" data-pk="{{imovel.0.pk}}" data-bs-toggle="modal" data-bs-target="#deleteModal" href="">
                            <i class="fa-solid fa-check p-3 cardIconMirror hoverTransition " ></i>
                        </a>
                        
                        <a href={% url 'atualizar-imovel' pk=imovel.0.pk %}>
                            <i class="fa-solid fa-edit p-3 cardIconMirrorReverse hoverTransition"></i>
                        </a>
                    </div>
                    {% if imovel.0.destacado %}
                        <i class="fa-solid fa-star p-3 cardIcon position-absolute" 
                        style="right: 0;"></i>
                    {% endif %}
                    
                    <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}} />
                    <div class="p-3">
                        <h4>{{imovel.0.titulo}}</h4>
                        <p>{{imovel.0.preco}}</p>
                        <p>{{imovel.0.cidade}}</p>
                        <div class="d-flex mb-4">
                            {% for f in imovel.0.finalidade_as_list %}
                                {% if f == "Vender" %}
                                    <p class="mx-2 px-3 py-1 rounded-xl bgMainColor text-white">{{f}}</p>
                                {% else %}
                                    <p class="mx-2 px-3 py-1 rounded-xl bgSecondColor text-white">{{f}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if not imovel.0.destacado %}
                        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardButtonBottom fixed-bottom" href="{% url 'imovel-boost' pk=imovel.0.pk %}" class="stretched-link">
                            <h5>Destacar anúncio</h5>
                            &ensp;
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>

<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Imóveis Desativados</h4>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        {% for imovel in object_list %}
            {% if not imovel.0.publicado or imovel.0.negociado %}
            
                {% if imovel.0.destacado %}
                <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition boostBorder">  
                {% else %}
                <div class="col-sm-3 m-3 shadow-sm rounded-xl propertyCard biggerTransition">  
                {% endif %}
                    {% if imovel.0.destacado %}
                        <i class="fa-solid fa-star p-3 cardIcon position-absolute" 
                        style="right: 0;"></i>
                    {% endif %}
                    
                    <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}} />
                    <div class="p-3">
                        <h4>{{imovel.0.titulo}}</h4>
                        <p>{{imovel.0.preco}}</p>
                        <p>{{imovel.0.cidade}}</p>
                        <div class="d-flex mb-4">
                            {% for f in imovel.0.finalidade_as_list %}
                                {% if f == "Vender" %}
                                    <p class="mx-2 px-3 py-1 rounded-xl bgMainColor text-white">{{f}}</p>
                                {% else %}
                                    <p class="mx-2 px-3 py-1 rounded-xl bgSecondColor text-white">{{f}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if not imovel.0.negociado %}
                        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardButtonBottom fixed-bottom" href="{% url 'imovel-renew' pk=imovel.0.pk %}" class="stretched-link">
                            <h5>Renovar anúncio</h5>
                            &ensp;
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>

{% endblock content %}


{% block scripts %}

<script>
    $(document).ready(() => {
        $("a[id=deleteModalButton]").click((event) => {
            var imovel_pk = event.currentTarget.attributes["data-pk"].value
            var url = "/negociar/imovel/"+imovel_pk

            $("#deleteImovelButton").attr("href", url)
            return false
        })
    })
</script>

{% endblock %}