{% extends 'paginas/template.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="shadow rounded bg-light w-75 mx-auto pb-5 mb-5">
    <div class="px-4 py-1 cardTitle hoverTransition text-white">
        <h4>Cadastro de Imóvel</h4>
    </div>
    <div class="px-5 py-4 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ form.media }}
<style>
    .select2-container .select2-selection--single {
        height: calc(1.5em + .75rem + 2px);
        width: 100%;
        border: 1px solid #ced4da;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }
</style>
{% endblock %}
