{% extends 'paginas/template.html' %}

{% load static %}


{% block content %}
<div class="shadow-sm rounded bg-light mb-5">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Meus Imóveis</h4>
        </div>
        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardTitleButton" href="">
            <i class="fa-solid fa-plus"></i>
            &ensp;
            <h4>Adicionar</h4>
        </a>
    </div>
    
    <div class="row justify-content-center p-3">
        {% for imovel in object_list %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition">
                <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}}/>
                <div class="p-3">
                    <h4>{{imovel.0.titulo}}</h4>
                    <p>{{imovel.0.preco}}</p>
                    <p>{{imovel.0.cidade}}</p>
                    <div class="d-flex">
                        {% for f in imovel.0.finalidade_as_list %}
                            {% if f == "Vender" %}
                                <p class="mx-2 px-3 py-1 rounded bgMainColor text-white">{{f}}</p>
                            {% else %}
                                <p class="mx-2 px-3 py-1 rounded bgSecondColor text-white">{{f}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                {% comment %} <a href="{% url 'imovel-view/{{imovel.0.pk}}' %}" class="stretched-link"></a> {% endcomment %}
            </div>
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>

{% endblock content %}