{% extends 'paginas/template.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{ modo }} Imóvel
{% endblock %}

{% block content %}
<div class="contentCardStyle">
    <div class="px-4 py-1 cardTitle hoverTransition text-white position-absolute" style="z-index: 2;">
        <h4>{{ modo }}</h4>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide position-absolute container ps-0 pe-4" data-bs-ride="carousel">
        <div class="carousel-inner" style="border-radius: 20px;">
            {% for f in fotos %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img id="imgCoverPay" class="img-fluid" src={{f.foto.url}}  />
                    </div>
                {% else %}
                    <div class="carousel-item" data-bs-interval="3000">
                        <img id="imgCoverPay" class="img-fluid" src={{f.foto.url}} />
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
        <h1 class="mx-4 position-absolute top-50 start-50 translate-middle title-top">{{ imovel.titulo|title }}</h1>
    </div>


    <div class="row mb-5" style="margin-top: 50vh;">
        
        {% if not ultima_mov.pendente %}
            {% if imovel.publicado and modo == "Renovar" %}
                <h2 class="text-center mt-5">O imóvel ainda não expirou, aguarde até que ele tenha expirado para realizar a renovação.</h2>

            {% elif imovel.destacado and modo == "Destacar" %}
                <h2 class="text-center mt-5">O imóvel já se encontra destacado.</h2>

            {% else %}
                <h2 class="text-center mt-5">Escaneie o código Pix para efetuar o pagamento.</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" class="img-fluid rounded-xl mx-auto d-block w-50" >

                <h2 class="text-center mt-5">Após o pagamento, envie o comprovante no campo abaixo.</h2>
                <form method="post" enctype="multipart/form-data" class="w-75 mx-auto">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-lg bgMainColor text-white w-100">
                        Enviar
                    </button>
                </form>

            {% endif %}

        {% else %}
            <h2 class="text-center mt-5">O seu pedido está sendo analisado por um Administrador.</h2>
        {% endif %}

    </div>

</div>

{% endblock content %}