{% extends 'paginas/template.html' %}

{% load static %}

{% block title %}
Início
{% endblock %}

{% block content %}
<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Recomendado</h4>
        </div>
        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardTitleButton" href="/buscar/imovel/?local=True">
            <h4>Ver Mais</h4>
            &ensp;
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>
    
    <div class="row justify-content-center p-3">
        {% for imovel in object_list.0 %}
            
            {% if imovel.0.destacado %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition boostBorder">  
            {% else %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition">  
            {% endif %}
            
                {% if imovel.0.destacado %}
                    <i class="fa-solid fa-star p-3 text-white rounded bgBoostColor position-absolute" 
                    style="right: 0;"></i>
                {% endif %}

                <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}}/>
                <div class="p-3">
                    <h4>{{imovel.0.titulo}}</h4>
                    <p>{{imovel.0.preco}}</p>
                    <p>{{imovel.0.cidade}}</p>
                    <div class="d-flex">
                        {% for f in imovel.0.finalidade_as_list %}
                            {% if f == "Vender" %}
                                <p class="mx-2 px-3 py-1 rounded bgMainColor text-white">{{f}}</p>
                            {% else %}
                                <p class="mx-2 px-3 py-1 rounded bgSecondColor text-white">{{f}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <a href="{% url 'imovel-view' pk=imovel.0.pk %}" class="stretched-link"></a>
            </div>
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>

<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Destaques</h4>
        </div>
        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardTitleButton" href="/buscar/imovel/?destacado=True">
            <h4>Ver Mais</h4>
            &ensp;
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>
    <div class="row justify-content-center p-3">
        {% for imovel in object_list.1 %}
                        
            {% if imovel.0.destacado %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition boostBorder">  
            {% else %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition">  
            {% endif %}
            
                {% if imovel.0.destacado %}
                    <i class="fa-solid fa-star p-3 text-white rounded bgBoostColor position-absolute" 
                    style="right: 0;"></i>
                {% endif %}
                <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}}/>
                <div class="p-3">
                    <h4>{{imovel.0.titulo}}</h4>
                    <p>{{imovel.0.preco}}</p>
                    <p>{{imovel.0.cidade}}</p>
                    <div class="d-flex">
                        {% for f in imovel.0.finalidade_as_list %}
                            {% if f == "Vender" %}
                                <p class="mx-2 px-3 py-1 rounded bgMainColor text-white">{{f}}</p>
                            {% else %}
                                <p class="mx-2 px-3 py-1 rounded bgSecondColor text-white">{{f}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <a href="{% url 'imovel-view' pk=imovel.0.pk %}" class="stretched-link"></a>
            </div>
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>

<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Novos</h4>
        </div>
        <a class="d-flex align-items-center px-4 py-1 text-white hoverTransition cardTitleButton" href="/buscar/imovel/?novos=True">
            <h4>Ver Mais</h4>
            &ensp;
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>
    <div class="row justify-content-center p-3">
        {% for imovel in object_list.2 %}
            {% if imovel.0.destacado %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition boostBorder">  
            {% else %}
            <div class="col-sm-3 m-3 shadow-sm rounded propertyCard biggerTransition">  
            {% endif %}
            
                {% if imovel.0.destacado %}
                    <i class="fa-solid fa-star p-3 text-white rounded bgBoostColor position-absolute" 
                    style="right: 0;"></i>
                {% endif %}
                <img class="img-thumbnail p-0" src={{imovel.1.0.foto.url}}/>
                <div class="p-3">
                    <h4>{{imovel.0.titulo}}</h4>
                    <p>{{imovel.0.preco}}</p>
                    <p>{{imovel.0.cidade}}</p>
                    <div class="d-flex">
                        {% for f in imovel.0.finalidade_as_list %}
                            {% if f == "Vender" %}
                                <p class="mx-2 px-3 py-1 rounded bgMainColor text-white">{{f}}</p>
                            {% else %}
                                <p class="mx-2 px-3 py-1 rounded bgSecondColor text-white">{{f}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <a href="{% url 'imovel-view' pk=imovel.0.pk %}" class="stretched-link"></a>
            </div>
        {% empty %}
        <h4>Não foram encontrados registros.</h4>

        {% endfor %}

    </div>
</div>
{% endblock content %}