{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>ImoVendas</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="backgroundColor">
    <header class="py-3 mb-5 shadow bg-mainColor">
        <div class="d-flex align-items-center justify-content-between mx-4">
            <a href="#" class="text-white hover-transition logo">
                <i class="fa-solid fa-house fa-xl">
                    ImoVendas
                </i>
            </a>
            <div class="input-group w-50 opacity-75">
                <input type="text" class="form-control" placeholder="Buscar anúncio por cidade">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <a href="">
                <i class="fas fa-user iconCircle text-white hover-transition"></i>
            </a>
        </div>
    </header>
    
    <div class="contentBlock container">
        {% block content %}
        <div class="shadow rounded bg-light">
            <div class="px-4 py-1 cardTitle hover-transition text-white">
                <h4>Titulo</h4>
            </div>
            <div class="d-flex p-5">
                <h4>Conteúdo</h4>
            </div>
        </div>
    
        <div class="shadow rounded bg-light">
            <div class="px-4 py-1 cardTitle hover-transition text-white">
                <h4>Titulo 2</h4>
            </div>
            <div class="d-flex p-5">
                <h4>Conteúdo 2</h4>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>