{% extends 'paginas/template.html' %}

{% load static %}


{% block content %}
<div class="shadow-sm rounded bg-light mb-5">
    <div class="px-4 py-1 cardTitle hoverTransition text-white">
        <h4>Imóvel</h4>
    </div>
    <div class="d-flex flex-column p-5 overflow-auto">
        <h1>{{ object.titulo }}</h1>
        <div class="d-flex"> 

            <img src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG91c2V8ZW58MHx8MHx8&w=1000&q=80"
                    class="img-fluid w-75 rounded" />

            <div class="d-flex flex-column p-4 mx-auto"> 

                <a href="#" class="btn btn-lg bgMainColor mb-5" role="button">Comprar</a>

                <h2>R${{ object.preco }}</h2>
                
                <p> {{ object.descricao }}</p>
                <p> {{ object.cidade }}</p>
                <p> {{ object.cep }}</p>
                <p> {{ object.finalidade }}</p>

            </div>

        </div>
        
    </div>
</div>

{% endblock content %}