{% extends 'paginas/template.html' %}

{% load static %}


{% block content %}
<div class="shadow-sm rounded bg-light mb-5">
    <div class="px-4 py-1 cardTitle hoverTransition text-white">
        <h4>Imóvel</h4>
    </div>

    <h1 class="mx-4 mt-4">{{ object.titulo }}</h1>

    <div class="row p-4">

        <div class="col-lg-8 my-2">
            <img src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG91c2V8ZW58MHx8MHx8&w=1000&q=80"
                    class="img-fluid rounded" />
            </div>
        <div class="col-lg-4 my-2">
            <div class="text-center mb-3">
                <a href="#" class="btn btn-lg btn btn-outline-success mb-3 w-75" role="button">Contatar Vendedor</a>
                
                <h2>R${{ object.preco }}</h2>
            </div>
            

            <div class="text-left shadow-sm p-4">
                <p> {{ object.descricao }}</p>
                
                <p> {{ object.cidade }}</p>

                <p> {{ object.finalidade }}</p>
                
                <p> {{ object.tipo }}</p>
                
                <p> {{ object.usuario }}</p>
            </div>
        </div>

    </div>

    <div class="row p-4">
        <div class="col-lg my-2">

            <div class="w-75 shadow-sm p-4 h-100"> 
                <h3>Informações</h3>
                <div class="p-3">
                    <p> {{ object.quantidade_quartos }} Quarto(s)</p>
                    <p> {{ object.quantidade_banheiros }} Banheiro(s)</p>
                    <p>Área: {{ object.area }}m<sup>2</sup> </p>
                </div>
            </div>

        </div>
        <div class="col-lg my-2">
            <div class="w-75 shadow-sm p-4 h-100"> 
                <h3>Endereço</h3>
                <div class="p-3">
                    <p>Rua: {{ object.rua }}</p>
                    <p>Bairro: {{ object.bairro }}</p>
                    <p>Número: {{ object.numero }}</p>
                    <p>CEP: {{ object.cep }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}