{% extends 'administrativo/admin_template.html' %}

{% load static %}


{% block content %}
<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Pendentes</h4>
        </div>
    </div>
    
    <div class="row justify-content-center p-3">
        {% for obj in object_list %}
            
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" >
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion{{forloop.counter}}" >
                    <img class="img-fluid rounded mx-auto d-block w-25" src={{obj.1.foto.url}} />

                    <h4>{{ obj.0.imovel.titulo }}</h4>
                  </button>
                </h2>
                <div id="accordion{{forloop.counter}}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <h5>Motivo: {{obj.0.motivo}} </h5>
                    <h5>Comprovante: 
                      {% if obj.0.comprovante %}
                        <a href="{{obj.0.comprovante.url}}" target="_blank" class="text-center">
                          <i class="fa fa-solid fa-eye fa-md" ></i>
                        </a> 
                      {% else %}
                        Sem Comprovante 
                      {% endif %}
                    </h5>

                    <div class="d-flex justify-content-end">
                      <a href="{% url 'imovel-view' pk=obj.0.imovel.pk %}" target="_blank" class="btn btn-lg btn-primary">Ver detalhes</a>
                      <a href="{% url 'rejeitar-imovel' historico_pk=obj.0.pk %}" class="btn btn-lg btn-danger">Rejeitar</a>
                      
                      {% if imovel.2.motivo == 'Publicação de imóvel' %}
                        <a href="{% url 'aprovar-imovel' pk=obj.0.imovel.pk historico_pk=obj.0.pk destaque=0 %}" class="btn btn-lg btn-success">Aprovar</a>
                      {% else %}
                        <a href="{% url 'aprovar-imovel' pk=obj.0.imovel.pk historico_pk=obj.0.pk destaque=1 %}" class="btn btn-lg btn-success">Aprovar</a>
                      {% endif %}
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
            
        {% empty %}
        <h4>Não há imóveis pendentes.</h4>

        {% endfor %}

    </div>
</div>

{% endblock content %}