{% extends 'administrativo/admin_template.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<div class="contentCardStyle pb-5">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Filtros</h4>
        </div>
    </div>
    
    <div class="row justify-content-center p-3 mx-5">

        <form method="get" class="mx-auto">
            {% csrf_token %}
            {% crispy form %}
        </form>
        

    </div>
</div>

<div class="contentCardStyle">
    <div class="d-flex justify-content-between">
        <div class="px-4 py-1 cardTitle hoverTransition text-white">
            <h4>Relatório</h4>
        </div>
    </div>

    <h4 class="text-center">Imóveis cadastrados em 
        {{ ano }}
        {% if cidade %}
            na cidade de {{ cidade }}
        {% endif %}

    </h4>
    
    <div class="row justify-content-center p-3">
        <canvas id="relatorio"></canvas>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{{ form.media }}
<style>
    .select2-container .select2-selection--single {
        height: calc(1.5em + .75rem + 2px);
        width: 100%;
        border: 1px solid #ced4da;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }
</style>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var imoveis = JSON.parse('{{ imoveis|escapejs }}')

    const labels = [
        'Jan',
        'Fev',
        'Mar',
        'Abr',
        'Mai',
        'Jun',
        'Jul',
        'Ago',
        'Set',
        'Out',
        'Nov',
        'Dez'
    ];

    const data = {
        labels: labels,
        datasets: [{
        label: 'Imóveis Cadastrados',
        backgroundColor: '#00e699',
        borderColor: '#00e699',
        data: imoveis,
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };
    const myChart = new Chart(
        document.getElementById('relatorio'),
        config
    );

</script>


{% endblock %}