:root {
  --mainColor: #00e699;
  --secondaryColor: #24d0ff;
  --boostColor:#fffd6b;

  --bgColor: #eaeaea;
}
 
.hide-mobile{
  display: block;
}

@media screen and (max-width: 750px) {
  .hide-mobile{
    display: none !important;
  }
}

a:link {
  text-decoration: none;
}

p{
  font-size: large;
}
strong {
  font-size: large;
}

.bgMainColor {
  background-color: var(--mainColor) !important;
}

.bgSecondColor {
  background-color: var(--secondaryColor);
}

.bgBoostColor {
  background-color: var(--boostColor);
}

.boostBorder {
  border: 2px solid var(--boostColor);
}

.mainColor {
  color: var(--mainColor);
}

.backgroundColor {
  background-color: var(--bgColor);
}

.iconTextButton {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border-radius: 10px;
}

.contentCardStyle{
  border-radius: 20px;
  margin-bottom: 1%;
  background-color: white;
  min-height: 15vh;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  min-width: 500px;
}

.cardTitle {
  width: fit-content;
  background-color: var(--mainColor);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cardTitleButton {
  background-color: var(--mainColor);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


.cardButton {
  background-color: var(--mainColor);
  border-radius: 20px;
}

.iconCircle {
  background-color: var(--mainColor);
  padding: 1em;
  width: 50px;
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 50px;

  border: 1px solid white;
}

.hoverTransition {
  transition: ease-out();
  transition-duration: 250ms;
}

.hoverTransition:hover {
  background-color: var(--secondaryColor) ;
}

.biggerTransition {
  transition: ease-out();
  transition-duration: 250ms;
  transform: scale(1);
}

.biggerTransition:hover {
  transform: scale(1.05);
}

.propertyCard{
  min-width: 18vw;
  max-width: 18vw;
}


.biggerTransition {
  transition: ease-out();
  transition-duration: 250ms;
  transform: scale(1);
}

.biggerTransition:hover {
  transform: scale(1.05);
}

.propertyCard{
  min-width: 18vw;
  max-width: 18vw;
}
