:root {
  --mainColor: #00e699;

  --bgColor: #eaeaea;
}

header {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

a:link{
  text-decoration: none;
}

.bg-mainColor {
  background-color: var(--mainColor);
}

.mainColor {
  color: var(--mainColor);
}

.backgroundColor{
  background-color: var(--bgColor);
}

.logo{
  padding: 1%;
  background-color: var(--mainColor);
  border-radius: 10px;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
}

.cardTitle {
  width: fit-content;
  background-color: var(--mainColor);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.iconCircle {
  background-color: var(--mainColor);
  padding: 1em;
  width: 50px;
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 50px;

  border: 1px solid white;
}

.hover-transition {
  transition: ease-out();
  transition-duration: 250ms;
}

.hover-transition:hover {
  filter: hue-rotate(90deg);
}
